{% extends "base.html" %}

{% block body_block %}

    <div class="h-100 p-5 bg-light border rounded-3">
        <h1>Log in</h1><br>
        <div class="row">
            <div class="col-12">
                <p class="fs-4 text-justify">You need to be logged in to continue. Please fill out the form:</p>
                <div class="container">
                    <form action="" method="post">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <input type="submit" value="Log In">

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}