{% extends "base.html" %}
{% load static %}
{% block body_block %}
    {% load calc_extras %}
    <script type="text/javascript" src={% static 'calculator/js/calc.js' %}></script>
    <script type="text/javascript">
        let context = "{{ exchange|safe }}";
    </script>
    <div class="h-100 p-5 bg-light border rounded-3">
        <h1>Calculator</h1><br>
        <div class="row">
            <div class="col-12">
                {{ form.non_field_errors }}
                <form id="calculator-form">
                    {% csrf_token %}
                    {{ form.subject.errors }}
                    {% for field in form %}
                        {% if 'commodity' in field.html_name %}
                            <div class="row">
                                <div class='col-12 select-vis' id="{{ field.html_name }}-div-id">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class='col-6 select-hid select-div select-{{ field.html_name|split_class }}'
                                     id="{{ field.html_name }}-div-id">

                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <input class="btn btn-primary" id="submit-btn" type="submit" value="Submit" disabled>
            </div>
        </div>
    </div>

{% endblock %}