{% extends "base.html" %}
{% load static %}
{% block body_block %}
    {% load calc_extras %}
    <script type="text/javascript" src={% static 'calculator/js/calc1.js' %}></script>
    <script src={% static 'calculator/js/jquery-3.6.0.min.js' %}></script>
    <link href={% static 'css/select2.min.css' %} rel="stylesheet"/>
    <script src={% static 'calculator/js/select2.min.js' %}></script>
    <script>
        $(function () {
            $("select").select2();
        });
    </script>
    <script>
        function reload() {
            location.reload();
        }
    </script>
    <div class="h-100 p-5 bg-light border rounded-3">
        <h1>Calculator</h1><br>
        {#        <div class="row">#}
        <div class="col-12">

            {{ form.non_field_errors }}
            <form id="calculator-form" method="post">
                {#                                                                         TODO Add table here for equal heights #}

                {% csrf_token %}
                {{ form.subject.errors }}

                {#                    <table class="table table-bordered col-12 hidden-form">#}
                {% for field in form %}
                    {% if 'commodity' in field.html_name %}
                        <table class="col-12 hidden-form table-commodity">
                            <tr id="commodity-tr">
                                <td class="label-1">{{ field.label_tag }}</td>
                                <td class="column-1">{{ field }}</td>
                            </tr>
                        </table>

                    {% else %}
                        {% if forloop.counter == 2 %}
                            <table id="hidden-table" class="col-12 hidden-form">
                        {% endif %}
                        <tr id="{{ field.html_name|remove_number }}_tr_{{ field.html_name|get_column_number }}"
                            class="table-row-hidden  tr-column-{{ field.html_name|get_column_number }} row-{{ field.html_name|split_class }}">
                            <td class="label-{{ field.html_name|get_column_number }}">{{ field.label_tag }}</td>
                            <td class="column-{{ field.html_name|get_column_number }}">{{ field }}</td>
                        </tr>
                    {% endif %}

                {% endfor %}
                <tr id="test1"></tr>

                </table>

                <div class="container table-div">
                    <div class="container">
                        <div class="row">
                            <table id="form-table-1" class="table col table-form">
                            </table>
                            <div id="empty-div" class="col-1"></div>
                            <table id="form-table-2" class="table col table-form">
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <a href="{% url "home-calc" %}">
                                <button class="btn btn-outline-danger" type="button" id="reset-btn">Reset Form</button>
                            </a>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-2">
                            <input class="btn btn-outline-primary" id="submit-btn" type="submit" value="Submit"
                                   disabled>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src={% static 'calculator/js/onload.js' %}></script>

{% endblock %}