{% extends "base.html" %}
{% load static %}
{% block body_block %}
    {% load calc_extras %}
    <script type="text/javascript" src={% static 'calculator/js/calc.js' %}></script>
    <script src={% static 'calculator/js/jquery-3.6.0.min.js' %}></script>
    <link href={% static 'css/select2.min.css' %} rel="stylesheet"/>
    <script src={% static 'calculator/js/select2.min.js' %}></script>
    <script>
        $(function () {
            $("select").select2();
        });
    </script>
    <div class="h-100 p-5 bg-light border rounded-3">
        <h1>Calculator</h1><br>
        <div class="row">
            <div class="col-12">

                {{ form.non_field_errors }}
                <form id="calculator-form" method="post">
                    {#                                                                         TODO Add table here for equal heights #}

                    {% csrf_token %}
                    {{ form.subject.errors }}
                    <table class="table table-bordered col-12">
                        {% for field in form %}
                            {% if 'commodity' in field.html_name %}
                                <tr id="commodity-tr">
                                    <td class="label-1" colspan="2">{{ field.label_tag }}</td>
                                    <td class="column-1" colspan="3">{{ field }}</td>
                                </tr>

                            {% else %}
                                {% if '_1' in field.html_name %}
                                    <tr id="{{ field.html_name|split_class }}-tr" class="table-row-hidden">
                                {% else %}
                                    <td class="empty"></td>
                                {% endif %}

                            <td class="label-{{ field.html_name|get_column_number }}">{{ field.label_tag }}</td>
                            <td class="column-{{ field.html_name|get_column_number }}">{{ field }}</td>

                            {% if '_2' in field.html_name %}
                                </tr>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                    </table>
                    <div class="container table-div">


                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input class="btn btn-primary" id="submit-btn" type="submit" value="Submit" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script src={% static 'calculator/js/onload.js' %}></script>

{% endblock %}