{% extends "base.html" %}
{% load static %}
{% block body_block %}
    {% load calc_extras %}
    <script type="text/javascript" src={% static 'calculator/js/calc.js' %}></script>
    <script src={% static 'calculator/js/jquery-3.6.0.min.js' %}></script>
    <link href={% static 'css/select2.min.css' %} rel="stylesheet"/>
    <script src={% static 'calculator/js/select2.min.js' %}></script>
    <script>
        $(function () {
            $("select").select2();
        });
    </script>
    <div class="h-100 p-5 bg-light border rounded-3">
        <h1>Calculator</h1><br>
        <div class="row">
            <div class="col-12">

                {{ form.non_field_errors }}
                <form id="calculator-form" method="post">
                    {#                                                                         TODO Add table here for equal heights #}

                    {% csrf_token %}
                    {{ form.subject.errors }}
                    <table>
                        <tr id="commodity-tr">
                            <td class="empty col-2"></td>
                            <td class="label-1 col-4"></td>
                            <td class="column-1 col-8"></td>
{#                            <td class="empty col-2"></td>#}
                        </tr>
                        <tr id="source-tr" class="table-row-hidden">
                            <td class="label-1 col-3"></td>
                            <td class="column-1 col-3"></td>
                            <td class="label-2 col-3"></td>
                            <td class="column-2 col-3"></td>
                        </tr>
                        <tr id="zone-tr" class="table-row-hidden">
                            <td class="label-1 col-3"></td>
                            <td class="column-1 col-3"></td>
                            <td class="label-2 col-3"></td>
                            <td class="column-2 col-3"></td>
                        </tr>
                        <tr id="load-tr" class="table-row-hidden">
                            <td class="label-1 col-3"></td>
                            <td class="column-1 col-3"></td>
                            <td class="label-2 col-3"></td>
                            <td class="column-2 col-3"></td>
                        </tr>
                        <tr id="product-type-tr" class="table-row-hidden">
                            <td class="label-1 col-3"></td>
                            <td class="column-1 col-3"></td>
                            <td class="label-2 col-3"></td>
                            <td class="column-2 col-3"></td>
                        </tr>
                        <tr id="product-type-sub-1-tr" class="table-row-hidden">
                            <td class="label-1 col-3"></td>
                            <td class="column-1 col-3"></td>
                            <td class="label-2 col-3"></td>
                            <td class="column-2 col-3"></td>
                        </tr>
                        <tr id="product-type-sub-2-tr" class="table-row-hidden">
                            <td class="label-1 col-3"></td>
                            <td class="column-1 col-3"></td>
                            <td class="label-2 col-3"></td>
                            <td class="column-2 col-3"></td>
                        </tr>
                    </table>
                    {% for field in form %}
                        {% if 'commodity' in field.html_name %}
                            <div class="row">
                                <div class='col-12 select-vis' id="{{ field.html_name|remove_number }}-div-id">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            </div>
                        {% else %}
                            {% if '_1' in field.html_name %}
                                <div class="row">
                            {% endif %}

                        <div class='col-6 select-hid select-div select-{{ field.html_name|split_class }} select-column-{{ field.html_name|get_column_number }}'
                             id="{{ field.html_name }}-div-id">

                            {{ field.label_tag }}
                            {{ field }}

                            {% if '_2' in field.html_name %}
                                </div>
                            {% endif %}

                        </div>

                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-4">
                            <input class="btn btn-primary" id="submit-btn" type="submit" value="Submit" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script src={% static 'calculator/js/onload.js' %}></script>

{% endblock %}