ul {
    background-color: rgb(254, 209, 0);
}

.nav-item a {
    color: black;
}

.nav .nav-link {
    position: relative;
    top: 25px;

}

#commodity-tr td.label-1 {
    text-align: right;
}

td.label-*{
    width: 15%;
}

td.empty{
    width: 10%;
}

.table-form{
    background-color: #4eff69;
}

/*.col-12{*/
/*    background-color: red;*/
/*}*/

/*.col-6{*/
/*    background-color: blue;*/
/*}*/

/*.select-hid{*/
/*    visibility: hidden;*/
/*    height: 0;*/
/*}*/

select{
    width: 50%;
}

/*tr.table-row-hidden{*/
/*    display: none;*/
/*}*/

