ul {
    background-color: rgb(254, 209, 0);
}

.nav-item a {
    color: black;
}

.nav .nav-link {
    position: relative;
    top: 25px;

}

#commodity-tr td.label-1 {
    text-align: right;
}

td.label-*{
    width: 15%;
}

td.empty{
    width: 10%;
}

.table-row-hidden{
    display: none;
    height: 0;
}

select{
    width: 100%;
}

#form-table-1 td.label-1 {
    width: 50%;
}

/*#form-table-1 td span.select2-selection {*/
/*    width: 100%;*/
/*}*/

/*tr.table-row-hidden{*/
/*    display: none;*/
/*}*/

