body {
    background: url("/static/img/wave-pattern-v2-01.png") 50% 0 no-repeat fixed;
    background-size: cover;
}


div.body-block{
    opacity: 90%;
}

.table-title{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#commodity-tr{
    font-size: large;
}

#id_commodity .select2-selection{
    text-align: left;
}

ul.nav {
    background-color: rgb(254, 209, 0);
}

.nav-item a {
    color: black;
}

.nav .nav-link {
    position: relative;
    top: 25px;

}

span.helptext{
    color: #808080;
    font-size: small;
}

#commodity-tr td.label-* {
    text-align: right;
}

td.label-*{
    width: 10%;
}

/*td.empty{*/
/*    width: 10%;*/
/*}*/

.table-row-hidden{
    display: none;
    height: 0;
}

select{
    width: 100%;
}

#form-table-* td.label-* {
    width: 50%;
}

td{
    height: 50px;
}


span.select2-selection__rendered{
    width: 2.5in;
}

.table > :not(:first-child) {
    border-top: 0;
}

#form-table-1{
    border-right: 1px solid black;
}
/*#form-table-1 td span.select2-selection {*/
/*    width: 100%;*/
/*}*/

/*tr.table-row-hidden{*/
/*    display: none;*/
/*}*/

