{% extends "base.html" %}

{% block body_block %}

    <div class="h-100 p-5 bg-light border rounded-3">
        <h1>About</h1><br>
        <hr>
        <div class="row">
            <div class="col-12">
                <p class="fs-4 text-justify">This project was started to ease the data extraction for D.Trading
                    coworkers and to visualize spreads data.</p>
                <p class="fs-4 text-justify"><b>D.CORE</b> is a project lead by the D.Trading Analytics department team and the
                    <b>D.CORE Spread Calculator</b>, where you are now, is a part of it. Here you can get access Gas,
                    Electricity, CO<sub>2</sub> Future and Electricity Spot prices, further referred as Commodities.</p>
{#                <p class="fs-4 text-justify">Every Commodity allows to </p>#}
            </div>
        </div>
    </div>

{% endblock %}