<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <script>
        // Timezone settings
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        document.cookie = "django_timezone=" + timezone;
    </script>
</head>
<body>
<div class="container navbar-color">
    <ul class="nav">
        <li class="nav-item">
            <a class="navbar-brand" href={% url 'home' %}>
                <img src='{% static "img/logo.png" %}' alt="D.CORE" width="200" height="75">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href={% url 'about' %}>ABOUT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href={% url 'doc' %}>DOCUMENTATION</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href={% url 'home-calc' %}>CALCULATOR</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item ms-auto">
                <a class="nav-link link-light" href={% url 'profile' %}><b>{{ user.get_username }}</b></a>
            </li>
            <li class="nav-item ms-auto">
                <a class="nav-link link-light" href={% url 'logout' %}>LOGOUT</a>
            </li>
        {% else %}
            <li class="nav-item ms-auto">
                <a class="nav-link link-light" href={% url 'login' %}>LOGIN</a>
            </li>
        {% endif %}

    </ul>

    {% block body_block %}
    {% endblock %}
</body>
</html>